@charset "utf-8";

.buttons {
    color: black;
    font-weight: bold;
    background-color: #FFD1D1;
    border-radius: 40px;
    padding: 4px 8px;
}

.submit_button {
    color: black;
    background-color: #FFE3E1;
    width: 100px;
    border-radius: 40px;
    padding: 4px 8px;
}

.admin_button {
    color: black;
    background-color: #FFE3E1;
    width: 45px;
    padding: 4px 8px;
}

.menu_buttons {
    color: black;
    font-weight: bold;
    background-color: #F3C5C5;
    width: 200px;
    border-radius: 40px;
    padding: 4px 8px;
}

.td_top {
    color:black; 
    background-color:#FFE15D;
    font-weight: bold;
}

.td_menu {
    color:black; 
    font-weight: bold;
}

.td_ex {
    color:black; 
    background-color:white;
}

.user_menu, .main_menu, .signup_table, .mymenu_table, .panel_table {
    color:black;
    background-color:#FFFFFE;
}

.list_table {
    width: 1000px;
}

.admin_panel_table {
    width: 1100px;
}







